.latest{
    height: 200px;
  
}
.cart {
    box-shadow: 7px 7px 10px  rgb(125, 122, 122);
   
    
 }
.cart:hover {
    box-shadow: 9px 9px 13px  rgb(125, 122, 122);
    background-color: rgb(182, 242, 255);
    
 }