.cart {
    transition: 0.5s;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .cart:hover {
    box-shadow: 2px 5px 10px gray;
  }
  .serviceimg {
      height: 240px;
      border-bottom: 1px;
  }
  .name{
      border-top: 1px solid rgb(149, 149, 149);
  }