
.title1{
    
    font-weight: 700;
}
.button{
    padding: 15px;
    margin: 10px;
}
.button:hover{
    padding: 15px;
    margin: 10px;
    background-color: tomato;
    border-radius: 1px solid tomato;
    transition: 0.5s;
}
.slider{
    height: 90vh;
}